{% extends 'base.html' %}

{% block content %}
<div class="bars-container">
    <section class="left-bar">
    {% if user.is_authenticated %}
    <ul class="left-bar-list">
      <li><a href="{% url 'video_by_using_type' %}?type=liked_videos">Понравившееся</a></li>
      <li><a href="{% url 'video_by_using_type' %}?type=later_videos">Смотреть позже</a></li>
      <li><a href="{% url 'video_by_using_type' %}?type=views">История</a></li>
      <li><a href="{% url 'my_videos' %}">Мои видео</a></li>
      <li><a href="{% url 'subscribes_content' %}">Подписки</a></li>
    </ul>
    {% endif %}
    <ul class="left-bar-tag-list">
        {% for tag in tags %}
        <li><a href="{% url 'video_by_tag' tag.slug %}">{{tag.name}}</a></li>
        {% endfor %}
    </ul>
    </section>

    <section class="right-side">
         {% block right_side %}{% endblock %}
    </section>
</div>
{% endblock %}