{% extends 'denisvideo/left_bar.html' %}
{% load static %}

{% block right_side %}
<div class="subscribe-container">
<ul class="subscribe-videos">
{% for vid in videos %}
    <li>{% include 'denisvideo/includes/show_item.html' %}</li>
{% endfor %}
</ul>
<div class="subscribe-channels">
<div class="subscribe-channels-title">Каналы: </div>
<ul>
{% for ch in channels %}
    <li>
        {% if ch.user.photo %}
            <div class="subscribes-user-avatar"><img src="{{ch.user.photo.url}}" width="100px" height="100px"></div>
        {% else %}
            <div class="subscribes-user-avatar"><img src="{% static default_photo %}" width="100px" height="100px"></div>
        {% endif %}
        <a href="{% url 'channel' ch.slug %}">{{ch.name}}</a>

    </li>
{% endfor %}
</ul>
</div>
</div>
{% endblock %}