<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <header>
        {% if not user.is_authenticated %}
        <div><a href="{% url 'users:login' %}">Войти</a></div>
        {% else %}
        <div>{{user.username}}</div>
        <div>
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        </div>
        {% endif %}
    </header>
    {% block content %}{% endblock %}
</body>
</html>