@import 'null.scss';

html{
    background-color: #0e1216;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    a, a:visited{
        color: #E1E5EA;
    }
    color: #E1E5EA;
}

.header{
    background-color: #1C232B;
    height: 70px;
    padding: 15px;
    
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    font-weight: 700;
    font-size: 24px;
}

.header-search-form{
    width: 400px;
    height: 30px;
    margin-right: 10px;
    background-color: #E1E5EA;
    border: none;
    border-radius: 5px;
}

.header-search-button{
    position: relative;
    top: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.header-profile{
    font-size: 20px;
    font-weight: 700;
    div{
        display: inline-block;
    }
    
}

.header-profile-button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #E1E5EA;
}


.main{
    flex: 1 1 100%
}


.bars-container{
    display: flex;
    height: 100%;
}


.left-bar{
    padding: 20px;
    flex: 0 0 300px;
    background-color: #1C232B;
    height: 100%;
    a, a:visited{
        font-size: 17px;
        font-weight: 700;
    }
    
}

.left-bar-list{
    border-bottom: 1px solid #E1E5EA;
    padding-bottom: 20px;
    li{
        padding-bottom: 15px;
    } 
}

.left-bar-tag-list{
    margin-top: 30px;
    li{
        padding-bottom: 15px;
    } 
}

.right-side{
    margin: 20px 0px 0px 40px;
    width: 100%;
}

.show-video-container{
    margin: 20px 30px;
    display: flex;
    
}

.show-video-right{
    margin-left: 20px;
}

.show-video-player{
    border-radius: 20px;
    margin-bottom: 20px;
}

.show-video-name{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.show-video-channel{
    display: flex;
    font-size: 18px;
    font-weight: 700;
}


.show-video-channel-subscribe{
    position: relative;
    bottom: 5px;
    margin-left: 10px;
}


.blue-button{
    background-color: #2e72c0;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}


.show-video-extra{
    margin-top: 10px;
    display: flex;
    font-size: 16px;
    div{
        margin-right: 10px;
    }
}

.show-video-likes-count{
    position: relative;
    bottom: 3px;
}

.show-video-description{
    margin-top: 15px;
    width: 1280px
}

.show-video-right-item{
    margin-bottom: 20px;
    
}

.show-video-right-item-image{
    img{      
        border-radius: 15px;
    }
    margin-bottom: 10px;
}


.show-video-right-item-data{
    margin-top: 10px;
}


.show-video-right-item-extra{
    display: flex;
}


.show-video-right-item-name{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}


.show-video-right-item-views{
    margin-right: 5px;
}


.show-video-right-item-channel-name{
    margin: 10px 0px 5px;
}


.index-list{
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
}


.index-item{
    margin-right: 10px;
    margin-bottom: 30px;
}


.index-item-image img{
    width: 400px;
    margin-bottom: 15px;
    border-radius: 10px;
}


.index-item-name{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}


.index-item-channel-name{
    font-weight: 700;
    font-size: 16px;
}


.video-by-types-pages{
    display: flex;
    width: 100%;
    justify-content: center;
}


.video-by-types-page-num{
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}


.my-videos-add-video-button{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 30px;
}


.my-videos-manipulate{
    margin-top: 10px;
    display: flex;
    div {
        margin-right: 10px;
    }
}


.subscribe-container{
    justify-content: center;
    display: flex;
    li {
        margin-bottom: 20px;
    }
}


.subscribe-channels-title{
    margin-bottom: 20px;
}


.subscribe-channels{
    margin-left: 60px;
    font-size: 24px;
    width: 300px;
    text-align: center;
}

.subscribes-user-avatar img{
    border-radius: 50%;
}


.search-list{
    width: 450px;
    margin: 30px auto 0px;
    li {
        margin-bottom: 30px;
    }
}


.channel-videos-list{
    display: flex;
    flex-wrap: wrap;
    li{
        margin-right: 20px;
        margin-bottom: 20px
    }
}


.channel-name-container{
    display: flex;
    font-size: 20px;
    font-weight: 700;
}


.channel-subscribe{
    margin-left: 20px;
    position: relative;
    bottom: 5px
}


.channel-description{
    margin-bottom: 20px;
}


.channel-videos-title{
    margin-bottom: 20px;
    font-size: 20px;
}


.site-form{ 
    p, div{  
        .helptext{
            display: none;
        }

        font-size: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        input{
            width: 350px;
            border-radius: 5px;
            border: none;
            font-size: 16px;
            
        }
        textarea{
            width: 350px;
            border-radius: 5px;
            border: none;
            font-size: 16px;
        }
        select{
            width: 350px;
            border-radius: 5px;
            border: none;
            font-size: 16px;
        }
    }

    button, .submit-row input{
                margin-top: 20px;
                background-color: #2e72c0;
                padding: 5px;
                border: none;
                border-radius: 5px;
                font-weight: 700;
                font-size: 20px;
                color: #E1E5EA;
            }
    
    fieldset{
        border: none;
    }     
}


.form-container{
    width: 600px;
    margin: 20px auto 0px;
}


.profile-change-pass{
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
}


.profile-channel-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}


.profile-videos-container{
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    div{
        margin-right: 20px;
    }
}


.password-done-text{
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    a, a:visited{color:#2e72c0;}
}


.reset-password-form-info{
    margin-bottom: 20px;
}


.password-reset-confirm-username{
    margin-bottom: 20px;
}


.login-password-reset-button{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
}


.profile-create-channel-button{
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
}