* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  color: #5d5d5d;
}

html {
  background-color: #0e1216;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper a, .wrapper a:visited {
  color: #E1E5EA;
}

.header {
  background-color: #1C232B;
  height: 70px;
  padding: 15px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  color: #E1E5EA;
  font-weight: 700;
  font-size: 24px;
}

.header-search-form {
  width: 400px;
  height: 30px;
  margin-right: 10px;
  background-color: #E1E5EA;
  border: none;
  border-radius: 5px;
}

.header-search-button {
  position: relative;
  top: 5px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.header-profile {
  font-size: 20px;
  font-weight: 700;
}
.header-profile div {
  display: inline-block;
}

.header-profile-button {
  background-color: rgba(255, 255, 255, 0);
  color: #E1E5EA;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.bars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.left-bar {
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  background-color: #1C232B;
  height: 100%;
}
.left-bar a, .left-bar a:visited {
  font-size: 17px;
  font-weight: 700;
}

.left-bar-list {
  border-bottom: 1px solid #E1E5EA;
  padding-bottom: 20px;
}
.left-bar-list li {
  padding-bottom: 15px;
}

.left-bar-tag-list {
  margin-top: 30px;
}
.left-bar-tag-list li {
  padding-bottom: 15px;
}

.right-side {
  margin: 20px 0px 0px 40px;
  width: 100%;
}

.show-video-container {
  color: #E1E5EA;
  margin: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-video-right {
  margin-left: 20px;
}

.show-video-player {
  border-radius: 20px;
  margin-bottom: 20px;
}

.show-video-name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.show-video-channel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 700;
}

.show-video-channel-subscribe {
  position: relative;
  bottom: 5px;
  margin-left: 10px;
}

.blue-button {
  background-color: #2e72c0;
  padding: 5px;
  border-radius: 5px;
}

.show-video-extra {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}
.show-video-extra div {
  margin-right: 10px;
}

.show-video-likes-count {
  position: relative;
  bottom: 3px;
}

.show-video-description {
  margin-top: 15px;
  width: 1280px;
}

.show-video-right-item {
  margin-bottom: 20px;
}

.show-video-right-item-image {
  margin-bottom: 10px;
}
.show-video-right-item-image img {
  border-radius: 15px;
}

.show-video-right-item-data {
  margin-top: 10px;
}

.show-video-right-item-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-video-right-item-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.show-video-right-item-views {
  margin-right: 5px;
}

.show-video-right-item-channel-name {
  margin: 10px 0px 5px;
}

.index-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 700;
}

.index-item {
  margin-right: 10px;
  margin-bottom: 30px;
}

.index-item-image img {
  width: 400px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.index-item-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.index-item-channel-name {
  font-weight: 700;
  font-size: 16px;
}

.video-by-types-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-by-types-page-num {
  font-size: 18px;
  font-weight: 700;
  margin-right: 10px;
}

.my-videos-manupulate {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.my-videos-manupulate div {
  margin-right: 10px;
}

.subscribe-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe-container li {
  margin-bottom: 20px;
}

.subscribe-channels-title {
  margin-bottom: 20px;
}

.subscribe-channels {
  margin-left: 60px;
  font-size: 24px;
  color: #E1E5EA;
}

.search-list {
  width: 450px;
  margin: 30px auto 0px;
}
.search-list li {
  margin-bottom: 30px;
}