{% extends 'base.html' %}
{% load templ_tags %}

{% block content %}
<div><form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Изменить</button>
</form></div>
<div><a href="{% url 'users:password_change' %}">Изменить пароль</a></div>
{% check_channel user as check_result %}
{% if check_result %}
<div>Название канала: {{user.channel.name}}</div>
<div><a href="{% url 'users:update_channel' %}">Изменить данные канала</a></div>
<div><a href="{% url 'my_videos' %}">Мои видео</a></div>
<div><a href="{% url 'add_video' %}">Добавить видео</a></div>
<div><a href="{% url 'users:delete_channel' %}">Удалить канал</a></div>
{% else %}
<div><a href="{% url 'users:create_channel' %}">Создать канал</a></div>
{% endif %}
{% endblock %}